# Copyright (c) 2025 Terence Ng
# SPDX-License-Identifier: MIT

if SHIELD_DOFE_LEFT

config ZMK_KEYBOARD_NAME
    default "Dofe"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DOFE_LEFT || SHIELD_DOFE_RIGHT

config ZMK_SPLIT
    default y

endif
